In [1]:
import sys
sys.path.append("..")
sys.path.append("../..")
sys.path.append("../triangle_py/")

In [2]:
import pandas as pd
import numpy as np
from triangle_py.triangle import Triangle
def test_triangle():
    df = pd.DataFrame({
        '12':[10, 10, 10, 10],
        '24':[20, 20, 20, np.nan],
        '36':[30, 30, np.nan, np.nan],
        '48':[40, np.nan, np.nan, np.nan]
    }, index=[2000, 2001, 2002, 2003])
    return Triangle.from_dataframe(df=df, id="t")

t = test_triangle()

df = t.melt_triangle()
df = df.assign(is_missing=df.tri.isna()).drop(columns=["tri"])
df = df.assign(not_missing=df.is_missing.apply(lambda x: not x)).drop(columns=["is_missing"])
df['not_missing'] = df['not_missing'].astype(int)

In [5]:
t.base_design_matrix()

,tri,is_observed,accident_period,development_period,calendar_period,accident_period_2001,accident_period_2002,accident_period_2003,development_period_024,development_period_036,...,calendar_period_026,calendar_period_027,calendar_period_036,calendar_period_037,calendar_period_038,calendar_period_039,calendar_period_048,calendar_period_049,calendar_period_050,calendar_period_051
0,10.0,1,2000,12,12,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10.0,1,2001,12,13,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10.0,1,2002,12,14,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10.0,1,2003,12,15,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10.0,1,2000,24,24,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,10.0,1,2001,24,25,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,10.0,1,2002,24,26,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,0
7,NaN,0,2003,24,27,0,0,1,1,0,...,1,1,0,0,0,0,0,0,0,0
8,10.0,1,2000,36,36,0,0,0,1,1,...,1,1,1,0,0,0,0,0,0,0
9,10.0,1,2001,36,37,1,0,0,1,1,...,1,1,1,1,0,0,0,0,0,0
10,NaN,0,2002,36,38,0,1,0,1,1,...,1,1,1,1,1,0,0,0,0,0
11,NaN,0,2003,36,39,0,0,1,1,1,...,1,1,1,1,1,1,0,0,0,0
12,10.0,1,2000,48,48,0,0,0,1,1,...,1,1,1,1,1,1,1,0,0,0
13,NaN,0,2001,48,49,1,0,0,1,1,...,1,1,1,1,1,1,1,1,0,0
14,NaN,0,2002,48,50,0,1,0,1,1,...,1,1,1,1,1,1,1,1,1,0
15,NaN,0,2003,48,51,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [4]:
!pytest test_triangle.py

============================= test session starts ==============================
platform linux -- Python 3.11.3, pytest-7.4.0, pluggy-1.2.0
rootdir: /home/aweaver/git/Triangle/tests
collected 47 items

test_triangle.py ...............................................         [100%]

============================== 47 passed in 6.93s ==============================