In [1]:
import sys
sys.path.append("..")
sys.path.append("../..")
sys.path.append("../triangle_py/")

In [2]:
import pandas as pd
import numpy as np
from triangle_py.triangle import Triangle
def test_triangle():
    df = pd.DataFrame({
        '12':[10, 10, 10, 10],
        '24':[20, 20, 20, np.nan],
        '36':[30, 30, np.nan, np.nan],
        '48':[40, np.nan, np.nan, np.nan]
    }, index=[2000, 2001, 2002, 2003])
    return Triangle.from_dataframe(df=df, id="t")

t = test_triangle()

df = t.melt_triangle()
df = df.assign(is_missing=df.tri.isna()).drop(columns=["tri"])
df = df.assign(not_missing=df.is_missing.apply(lambda x: not x)).drop(columns=["is_missing"])
df['not_missing'] = df['not_missing'].astype(int)

In [3]:
t.base_design_matrix()

,tri,is_observed,accident_period,development_period,calendar_period,accident_period_2001,accident_period_2002,accident_period_2003,development_period_024,development_period_036,development_period_048,calendar_period_002,calendar_period_003,calendar_period_004,calendar_period_005,calendar_period_006,calendar_period_007
0,10.0,1,2000,12,1,0,0,0,0,0,0,0,0,0,0,0,0
1,10.0,1,2001,12,2,1,0,0,0,0,0,1,0,0,0,0,0
2,10.0,1,2002,12,3,0,1,0,0,0,0,1,1,0,0,0,0
3,10.0,1,2003,12,4,0,0,1,0,0,0,1,1,1,0,0,0
4,10.0,1,2000,24,2,0,0,0,1,0,0,1,0,0,0,0,0
5,10.0,1,2001,24,3,1,0,0,1,0,0,1,1,0,0,0,0
6,10.0,1,2002,24,4,0,1,0,1,0,0,1,1,1,0,0,0
7,NaN,0,2003,24,5,0,0,1,1,0,0,1,1,1,1,0,0
8,10.0,1,2000,36,3,0,0,0,1,1,0,1,1,0,0,0,0
9,10.0,1,2001,36,4,1,0,0,1,1,0,1,1,1,0,0,0
10,NaN,0,2002,36,5,0,1,0,1,1,0,1,1,1,1,0,0
11,NaN,0,2003,36,6,0,0,1,1,1,0,1,1,1,1,1,0
12,10.0,1,2000,48,4,0,0,0,1,1,1,1,1,1,0,0,0
13,NaN,0,2001,48,5,1,0,0,1,1,1,1,1,1,1,0,0
14,NaN,0,2002,48,6,0,1,0,1,1,1,1,1,1,1,1,0
15,NaN,0,2003,48,7,0,0,1,1,1,1,1,1,1,1,1,1

In [4]:
!pytest test_triangle.py

============================= test session starts ==============================
platform linux -- Python 3.11.3, pytest-7.4.0, pluggy-1.2.0
rootdir: /home/aweaver/git/Triangle/tests
collected 57 items

test_triangle.py ....................................................... [ 96%]
..                                                                       [100%]

============================== 57 passed in 6.81s ==============================

In [5]:
t = Triangle.from_taylor_ashe()
t.df

development_period,1,2,3,4,5,6,7,8,9,10
accident_period,,,,,,,,,,
2001-01-01,357848.0,1124788.0,1735330.0,2218270.0,2745596.0,3319994.0,3466336.0,3606286.0,3833515.0,3901463.0
2002-01-01,352118.0,1236139.0,2170033.0,3353322.0,3799067.0,4120063.0,4647867.0,4914039.0,5339085.0,NaN
2003-01-01,290507.0,1292306.0,2218525.0,3235179.0,3985995.0,4132918.0,4628910.0,4909315.0,NaN,NaN
2004-01-01,310608.0,1418858.0,2195047.0,3757447.0,4029929.0,4381982.0,4588268.0,NaN,NaN,NaN
2005-01-01,443160.0,1136350.0,2128333.0,2897821.0,3402672.0,3873311.0,NaN,NaN,NaN,NaN
2006-01-01,396132.0,1333217.0,2180715.0,2985752.0,3691712.0,NaN,NaN,NaN,NaN,NaN
2007-01-01,440832.0,1288463.0,2419861.0,3483130.0,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-01,359480.0,1421128.0,2864498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01,376686.0,1363294.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01,344014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
t.getCalendarIndex().apply(lambda x: x.index.to_series().dt.year.min() + x - 1)
# + t.df.index[0]

development_period     1     2     3     4     5     6     7     8     9    10
accident_period
2001-01-01          2001  2002  2003  2004  2005  2006  2007  2008  2009  2010
2002-01-01          2002  2003  2004  2005  2006  2007  2008  2009  2010  2011
2003-01-01          2003  2004  2005  2006  2007  2008  2009  2010  2011  2012
2004-01-01          2004  2005  2006  2007  2008  2009  2010  2011  2012  2013
2005-01-01          2005  2006  2007  2008  2009  2010  2011  2012  2013  2014
2006-01-01          2006  2007  2008  2009  2010  2011  2012  2013  2014  2015
2007-01-01          2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
2008-01-01          2008  2009  2010  2011  2012  2013  2014  2015  2016  2017
2009-01-01          2009  2010  2011  2012  2013  2014  2015  2016  2017  2018
2010-01-01          2010  2011  2012  2013  2014  2015  2016  2017  2018  2019

In [8]:
t.getCurCalendarYear()

2010