In [1]:
import sys
sys.path.append("..")
sys.path.append("../..")
sys.path.append("../triangle_py/")

In [2]:
import pandas as pd
import numpy as np
from triangle_py.triangle import Triangle
def test_triangle():
    df = pd.DataFrame({
        '12':[10, 10, 10, 10],
        '24':[20, 20, 20, np.nan],
        '36':[30, 30, np.nan, np.nan],
        '48':[40, np.nan, np.nan, np.nan]
    }, index=[2000, 2001, 2002, 2003])
    return Triangle.from_dataframe(df=df, id="t")
# def test_triangle2():
#     df = pd.DataFrame({
#         '12':[10, 11, 12, 13],
#         '24':[20, 30, 40, np.nan],
#         '36':[30, 37, np.nan, np.nan],
#         '48':[40, np.nan, np.nan, np.nan]
#     }, index=[2000, 2001, 2002, 2003])
#     return Triangle.from_dataframe(df=df, id="t")

t = test_triangle()

df = t.melt_triangle()
df = df.assign(is_missing=df.tri.isna()).drop(columns=["tri"])
df = df.assign(not_missing=df.is_missing.apply(lambda x: not x)).drop(columns=["is_missing"])
df['not_missing'] = df['not_missing'].astype(int)


print("input dataframe\n")
print(df)
print("\n\n")

print("create_design_matrix_trends: \n")
print(t.create_design_matrix_trends(df.accident_period, z=4, s='acc'))

# t2 = test_triangle2()

input dataframe

   accident_period development_period  not_missing
0             2000                 12            1
1             2001                 12            1
2             2002                 12            1
3             2003                 12            1
4             2000                 24            1
5             2001                 24            1
6             2002                 24            1
7             2003                 24            0
8             2000                 36            1
9             2001                 36            1
10            2002                 36            0
11            2003                 36            0
12            2000                 48            1
13            2001                 48            0
14            2002                 48            0
15            2003                 48            0



create_design_matrix_trends:

    accident_period  acc_2001  acc_2002  acc_2003
0              2000         0         0         0
1              2001         1         0         0
2              2002         1         1         0
3              2003         1         1         1
4              2000         0         0         0
5              2001         1         0         0
6              2002         1         1         0
7              2003         1         1         1
8              2000         0         0         0
9              2001         1         0         0
10             2002         1         1         0
11             2003         1         1         1
12             2000         0         0         0
13             2001         1         0         0
14             2002         1         1         0
15             2003         1         1         1

In [3]:
pd.DataFrame({
        'accident_period':[2000, 2001, 2002, 2003,
                           2000, 2001, 2002, 2003,
                           2000, 2001, 2002, 2003,
                           2000, 2001, 2002, 2003],
        'accident_period_2001':[0, 1, 1, 1,
                                0, 1, 1, 1,
                                0, 1, 1, 1,
                                0, 1, 1, 1],
        'accident_period_2002':[0, 0, 1, 1,
                                0, 0, 1, 1,
                                0, 0, 1, 1,
                                0, 0, 1, 1],
        'accident_period_2003':[0, 0, 0, 1,
                                0, 0, 0, 1,
                                0, 0, 0, 1,
                                0, 0, 0, 1]
    })

,accident_period,accident_period_2001,accident_period_2002,accident_period_2003
0,2000,0,0,0
1,2001,1,0,0
2,2002,1,1,0
3,2003,1,1,1
4,2000,0,0,0
5,2001,1,0,0
6,2002,1,1,0
7,2003,1,1,1
8,2000,0,0,0
9,2001,1,0,0
10,2002,1,1,0
11,2003,1,1,1
12,2000,0,0,0
13,2001,1,0,0
14,2002,1,1,0
15,2003,1,1,1

In [4]:
!pytest test_triangle.py

============================= test session starts ==============================
platform linux -- Python 3.11.3, pytest-7.4.0, pluggy-1.2.0
rootdir: /home/aweaver/git/Triangle/tests
collected 40 items

test_triangle.py ........................................                [100%]

============================== 40 passed in 9.03s ==============================